<header class="header">
    <div class="navbar navbar-default navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="../">Vimeo Videos Showcase</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <form class="navbar-form">
                            <input type="text" name="search" id="search" class="form-control" placeholder="Search here...">
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <strong><%= session.usename %></strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>