<header class="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="../">Vimeo Videos Showcase</a>
        </div>
        <form class="navbar-form pull-right">
            <input type="text" name="search" id="search" class="form-control" placeholder="Search here...">
            <button type="button" class="btn btn-default glyphicon glyphicon-search"></button>
        </form>  
    </div>
</header>