<header class="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="../">Vimeo Videos Showcase</a>
            <div class="navbar pull-right">Xin chào, <%= session.username %></div>
        </div>
        <form class="navbar-form pull-left">
            <input type="text" name="search" id="search" class="form-control" placeholder="Search here...">
        </form>
    </div>
</header>