<header class="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="../">Vimeo Videos Showcase</a>
        </div>
        <form class="navbar-form pull-left">
            <span class="input-group-addon glyphicon glyphicon-search" id="search-icon"></span>
            <input type="text" name="search" id="search" class="form-control" placeholder="Search here..." aria-describedby="search-icon">
        </form>  
    </div>
</header>